
<link rel="stylesheet" href="./css/footer.css">

<div class="div-footer">
    <div class="logo-ayuda-contacto">
        <div class="logo-footer"> <img src="./images/Puna.gif" width="75px"> </div>

        <div class="ayuda-footer">
            <h4>Ayuda</h4>
            <p>
                Pagos <br>
                Envio <br>
                Preguntas frecuentes
            </p>
        </div>


        <div class="contacto-footer">
            <h4>Contacto</h4>
            <p>
                E-mail <br>
                Telefono <br>
                Direccion
            </p>
        </div>

    </div>

    <div class="derechos">
        <p class="p-puam">© PUANA 2021</p>
    </div>

</div>