<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<link rel="stylesheet" href="../public/css/styleHome.css">
<link rel="stylesheet" href="../public/css/normalize.css">
<title>Puna Home</title>

</head>


<body>
<!-- header -->
<%- include('partials/header') %>
<!-- /header -->
  <main>

    <div class="imgslide"><img src="/images/Slide 1.JPG" class="imgslide" ></div> 
  </main>

  
  
</body>

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

</html>