<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link rel="stylesheet" href="./css/styleCreate.css">
    <title>productCreate</title>
<body>
<!-- header -->
<%- include('partials/header') %>
<!-- /header -->
    <main>
        <div class="card-create-prod">   
            <form action="/products/create" method="POST" enctype="multipart/form-data">  
                <div class="msg-create-prod">
                    <h4>Formulario de creacion de Productos</h4>
                </div>
                    <div class="container-create-prod">
                        <form action="" class="inputform" method="POST">
                            <label for="title">Nombre del producto</label>
                            <input type="text" name="title" placeholder="Ingresar nombre" required>
                            <br>
                            <label for="medidas">Medidas</Mabel>
                            <input type="number" name="medidas" placeholder="Largo" required> x <input type="number" name="medidas" placeholder="Ancho" required> cm

                            <br>
                            
                            <label for="descripcion">Descripcion</label>
                            <textarea type= "text" name="descripcion" placeholder="Escribir descripcion" required></textarea>
                            <br>
                            <label for="title">Categoria</label>
                            <select name="gender">
                                <option value="" selected disabled hidden>Elegir...</option>
                                <option value="cushions">Cushions</option>
                                <option value="poncho">Poncho</option>
                                <option value="mantas">Mantas</option>
                            </select>
                            <br>
                            <label for="image">Imagen</label>
                            <br>
                            <input type="file" name="image" accept=".jpg, .png">
                            <br>
                            <label for="category">Color</label>
                            <br>
                            <select name="gender">
                                <option value="" selected disabled hidden>Elegir...</option>
                                <option value="natural">Natural</option>
                                <option value="crudo">Crudo</option>
                                <option value="crudo&gris">Crudo & gris</option>
                                <option value="tierra">Tierra</option>
                                <option value="piedra">Piedra</option>
                                
                            </select>
                            <br>
                            <br>
                            <label for="price">Precio</label>
                            <br>
                            <input name="price" type="number" min="0.00" max="10000.00" step="0.01" required>
                            <br>
                            <br>
                        </form>
                        <div class="container-button">
                            <button type="submit">Crear</button>
                        </div>
                    </div>                
            </form>
        </div>

    </main>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>