<!DOCTYPE html>
<html>

<head>
    <!-- Include Head -->
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link rel="stylesheet" href="../css/styleDetalleProducto.css">
    <title> productDetail</title>
</head>

<body>
    <!-- header -->
<%- include('partials/header') %>
<!-- /header -->
    
    <div class="producto">
        <h1>WOOL RUG | LULE - RAYAS CRUDO & GRIS</h1>
    </div>
    
    
    <div class="precio">
        <h1>$2500</h1>
    </div> 
    
    <div class="articulo-principal">

    <form action="registro.html" method="POST">
      
      <input type="image" src="/images/manta 2.jpg" alt="">
      <input type="image" src="/images/manta 3.jpg" alt="">
      <input type="image" src="/images/manta 4.jpg" alt="">
      <input type="image" src="/images/manta 5.jpg" alt="">
    </form>

</div>

<div class="descripcion">
    
    <p>
        Medidas: 170 x 250 cm. 
        <br>
        Construcción: Tejido a mano con lana de oveja 100% argentina y teñido por pigmento natural por artesanos que viven en zonas remotas del noroeste argentino.<br>
        Cuidado e instrucciones: Aspirarlos con cuidado y regularmente.
    </p>
</div>

<div class="comprar">

    <form action="registro.html" method="POST">
      
      <input type="button" value="agregar al carrito" style=background-color:lightblue>
     
    </form>

</div>
    <div class="relacionados">
        <h2>Productos que podrian interesarte</h2>
    </div> 

    <div class="articulos-abajo">

    <form action="registro.html" method="POST">
      
        <input type="image" src="/images/LLAMA CARDADA THROW  PONCHO - CRUDO.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/LLAMA THROW  PONCHO - NATURAL.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/WOOL RUG  DIAGUITA.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/WOOL RUG  LULE - RAYAS CRUDO & GRIS.jpg" alt="" width="250px" height="200">
      </form>

    </div>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>