<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link rel="stylesheet" href="../css/styleCreate.css">
    <title>productCreate</title>
<body>
<!-- header -->
<%- include('partials/header') %>
<!-- /header -->
    <main>
        <div class="card-create-prod">   
            <!--le doy al form, dentro del cual va a estar todo el formulario, la ruta que debe seguir para saber que hacer, esto en  controller-->
            <form action="/products" method="POST" enctype="multipart/form-data">  
                <div class="msg-create-prod">
                    <h4>Formulario de creacion de Productos</h4>
                </div>
                    <div class="container-create-prod">
                            <label for="title">Nombre del producto</label>
                            <input type="text" name="nombre_item" placeholder="Ingresar nombre" required>
                            <br>                            
                            <label for="descripcion">Descripcion</label>
                            <textarea type= "text" name="descripcion" placeholder="Escribir descripcion" required></textarea>
                            <br>
                            <!--el valor que le doy a la imagen cargada en el id del input, es el nombre que debo usar en el middleware dentro de la ruta que llama el multer-->
                            <label for="image">Imagen</label>
                            <br>
                            <input type="file" id="image" name="image" accept=".jpg, .png">
                            <br>
                            <label for="title">Categoria</label>
                            <select name="categoria">
                                <option value="" selected disabled hidden>Elegir...</option>
                                <option value="cushions">Cushions</option>
                                <option value="poncho">Poncho</option>
                                <option value="mantas">Mantas</option>
                            </select>
                            <br>
                            <label for="category">Color</label>
                            <br>
                            <select name="color">
                                <option value="" selected disabled hidden>Elegir...</option>
                                <option value="natural">Natural</option>
                                <option value="crudo">Crudo</option>
                                <option value="crudo&gris">Crudo & gris</option>
                                <option value="tierra">Tierra</option>
                                <option value="piedra">Piedra</option>
                                
                            </select>
                            <br>
                            <br>
                            <label for="precio">Precio</label>
                            <br>
                            <input name="precio" type="number" min="0.00" max="10000.00" step="0.01" required>
                            <br>
                            <br>
                            
                    </div>
                            <div class="container-button">
                                <button type="submit">Crear</button>
                            </div>
                </form>
                        
        </div>                


    </main>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>