

.div-footer {
    display:block;
    position: relative;
    bottom: 0px;
    width: 100vw;
    height: 5vw;
    background-color: #A7A8A6;
    text-align: center;
  }
  
  .logo-ayuda-contacto {
    display:flex;
    width: 100vw;
    background-color: #FFFDD0;
    justify-content: space-between;
    margin: 0px;
  }
  
  .derechos {
    text-align:center;
    position: relative;
    bottom:0px;
    width: 100vw;
    background-color: #7A7878;
    margin: 0px;
  }
  
  
  .ayuda-footer {
    display:flex;
    flex-direction: column;
    /*border: solid 1px black;
    */
    padding-left: 150px;
    padding-right:150px;
    text-align: center;
  }
  
  .contacto-footer {
    display: flex;
    flex-direction: column;
    /*border: solid 1px black;
    */
    margin-right: 50px;
    padding-left: 200px;
    padding-right:200px;
    text-align: center;
  }
  
  .p-puam {
    margin: 0px;
    
  }