body{margin-bottom: 1000px;

}

header {
  display: flex;
  position: relative;
  top: 0px;
  width: 100vw;
  height: 10vw;
  align-items: center;
  background-color: #A7A8A6;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}


.titulo-pag {
  text-align: center;
  margin-top: 10vw;
}



.relacionados{
  text-align: center;
  position: relative;
  background-color:#A7A8A6 ;
  margin-top: 100px;
}

.precio{
  text-align: center;
  position: relative;
  padding-left: 500px;
}

.comprar{
  text-align: center;
  margin-left: 500px;

}

.temporada-invierno{
  position: absolute;
  padding-right: 1500px;
}

.producto{
  position: relative;
  text-align: center;
  text-align-last: center;
}

.articulos-abajo{

  margin-right: 50px;
 padding-top: 50px;
 padding-bottom: 150px;
  text-align: center;

}

.articulo-principal{
  padding-left:300px;
}

.descripcion{
  text-align:center;
  
}

/*Header*/

.main-header {
  display: flex;
  margin: 0px;
  width: fit-content;
  flex-direction: row; 
  background-color: #FFFDD0;
  justify-content: center;
  margin: 0px;
  width: 100vw;
  padding: 0px;
}

.main-header-top-bar {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.menubar {
  text-align: center;
}

.logo {
  display: flex;
  flex-grow: 0.5;
}

.searchbar {display: flex;
  align-items: center;
  flex-grow: 0.5;}

.search {border: none;
border-radius: 15px;}


.copyheader {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  padding: 5px;
}

.site {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

}

.site ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  padding: 10px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.site a {
  padding: 5px;
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.first-nav-bar,
.second-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*/Header*/