body{margin-bottom: 1000px;

}

header {
  display: flex;
  position: relative;
  top: 0px;
  width: 100vw;
  height: 10vw;
  align-items: center;
  background-color: #A7A8A6;
  margin: 0px;
  padding: 0px;
  justify-content: center;

}


.titulo-pag {
  text-align: center;
  margin-top: 10vw;
}


.div-footer {
  display:block;
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 5vw;
  background-color: #A7A8A6;
  text-align: center;
}

.logo-ayuda-contacto {
  display:flex;
  width: 100vw;
  background-color: #A7A8A6;
  justify-content: space-between;
  margin: 0px;
}

.derechos {
  text-align:center;
  position: relative;
  bottom:0px;
  width: 100vw;
  background-color: #7A7878;
  margin: 0px;
}




.ayuda-footer {
  display:flex;
  flex-direction: column;
  /*border: solid 1px black;
  */
  padding-left: 150px;
  padding-right:150px;
  text-align: center;
}

.contacto-footer {
  display: flex;
  flex-direction: column;
  /*border: solid 1px black;
  */
  margin-right: 50px;
  padding-left: 200px;
  padding-right:200px;
  text-align: center;
}



.p-puam {
  margin: 0px;
  
}

.relacionados{
  text-align: center;
  position: relative;
  background-color:#A7A8A6 ;
  margin-top: 100px;
}

.precio{
  text-align: center;
  position: relative;
  padding-left: 500px;
}

.comprar{
  text-align: center;
  margin-left: 500px;

}

.temporada-invierno{
  position: absolute;
  padding-right: 1500px;
}

.producto{
  position: relative;
  text-align: center;
  text-align-last: center;
}

.articulos-abajo{

  margin-right: 50px;
 padding-top: 50px;
 padding-bottom: 150px;
  text-align: center;

}

.articulo-principal{
  padding-left:300px;
}

.descripcion{
  text-align:center;
  
}