* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px ;
}

.pagina{
    margin: 80px auto;

}

table{
    width: 100%;
    border-collapse: collapse;
}

.info{
    display: flex;
    flex-wrap: wrap;

}

th{
    text-align: left;
    padding: 5px;
    color: rgb(12, 12, 12);
    background: #ffb13b;
    font-weight: normal;
    padding-top: 10px;

}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 40px;
    padding:5px;
    border-radius: 100%;
    text-align: center;
}

td a{
    color: #653bff;
    font-size: 15px;
}

td img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
    border-radius: 100%;
}

.totales{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.totales table{
    border-top: 5px solid #ffb13b;
    width: 100%;
    max-width: 400px;

}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.bpagar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    padding: .375rem .75rem;
    border: 1px solid #010508;
    border-radius: .25rem;
    color: #ffae00;
    
}