<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styleDetalleProducto.css">
    <title> Iniciá sesión | PUAM</title>
</head>

<body>
    <header>
    <div class="temporada-invierno">
        <h2>temporada de invierno</h2>
    </div>
    
        <img src="./images/Puam.jpg" alt="logo PUAM" width="130px">

        <div class="logo-barra-busqueda">
         
            <form action="home.html" method="GET">
                <p>
                    <input type="search" name="busqueda">
                    <button type="submit">Buscar</button>
                </p>
            </form>
        </div>

    </header>

    <div class="producto">
        <h1>WOOL RUG | LULE - RAYAS CRUDO & GRIS</h1>
    </div>
    
    
    <div class="precio">
        <h1>$2500</h1>
    </div> 
    
    <div class="articulo-principal">

    <form action="registro.html" method="POST">
      
      <input type="image" src="/images/manta 2.jpg" alt="">
      <input type="image" src="/images/manta 3.jpg" alt="">
      <input type="image" src="/images/manta 4.jpg" alt="">
      <input type="image" src="/images/manta 5.jpg" alt="">
    </form>

</div>

<div class="descripcion">
    
    <p>
        Medidas: 170 x 250 cm. <br>
        Construcción: Tejido a mano con lana de oveja 100% argentina y teñido por pigmento natural por artesanos que viven en zonas remotas del noroeste argentino.<br>
        Cuidado e instrucciones: Aspirarlos con cuidado y regularmente.
    </p>
</div>

<div class="comprar">

    <form action="registro.html" method="POST">
      
      <input type="button" value="agregar al carrito" style=background-color:lightblue>
     
    </form>

</div>
    <div class="relacionados">
        <h2>Productos que podrian interesarte</h2>
    </div> 

    <div class="articulos-abajo">

    <form action="registro.html" method="POST">
      
        <input type="image" src="/images/LLAMA CARDADA THROW  PONCHO - CRUDO.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/LLAMA THROW  PONCHO - NATURAL.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/WOOL RUG  DIAGUITA.jpg" alt="" width="250px" height="200">
        <input type="image" src="/images/WOOL RUG  LULE - RAYAS CRUDO & GRIS.jpg" alt="" width="250px" height="200">
      </form>

    </div>

    <div class="div-footer">
        <div class="logo-ayuda-contacto">
            <div class="logo-footer"> <img src="./images/Puam.jpg" width="75px"> </div>

            <div class="ayuda-footer">
                <h4>Ayuda</h4>
                <p>
                    ayuda <br>
                    ayuda <br>
                    ayuda
                </p>
            </div>


            <div class="contacto-footer">
                <h4>Contacto</h4>
                <p>
                    contacto <br>
                    contacto <br>
                    contacto
                </p>
            </div>

        </div>

        <div class="derechos">
            <p class="p-puam">© PUAM 2021</p>
        </div>

    </div>

</body>

</html>