<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Puam design</title>
  <link rel="stylesheet" href="./css/styleHome.css">
  <link rel="stylesheet" href="./css/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styleHome.css" type="text/css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c1249e3e65.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


</head>

<body>
  <header class="main-header">
        <div class="copyheader"><i class="far fa-snowflake"></i>TEMPORADA DE INVIERNO</div>
        <div class="main-header-top-bar">
          <div class="logmerc"> <img src="./images/Puam.jpg" width="100px" alt="Logo puam" class="logo"></div>
      </div>
        <div class="site">
            <ul class="first-nav-bar">
                <li><a href="# ">Shop <i class="fas fa-store"></i></a></li>
                <li><a href="# ">About us <i class="fas fa-info"></i></a></li>
                <li><a href="# ">Cart <i class="fas fa-cart-arrow-down"></i></a></li>
                <li><a href="# ">Contact <i class="fas fa-phone"></i></a>
                </li>
            </ul>
            <div class="searchbar"> <input class="search" type="text" placeholder="  Que estas buscando?"> </div>
        </div>
</header>
  <main>

    <div class="imgslide"><img src="/images/Slide 1.JPG" class="imgslide" ></div> 
  </main>

  
  
</body>

<footer>
  <div class="logo-ayuda-contacto">
    <div class="logo-footer"> <img src="images/Puam.jpg" width="75px"> </div>

    <div class="ayuda-footer">
      <h4>Ayuda</h4>
      <p>
        ayuda <br>
        ayuda <br>
        ayuda
      </p>
    </div>


    <div class="contacto-footer">
      <h4>Contacto</h4>
      <p>
        contacto <br>
        contacto <br>
        contacto
      </p>
    </div>

  </div>

  <div class="derechos">
    <p class="p-puam">© PUAM 2021</p>
  </div>
</footer>

</html>