<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title> Iniciá sesión | PUAM</title>
</head>

<body>
    <header>
        <img src="./images/Puam.jpg" alt="logo PUAM" width="130px">
    </header>

    <div class="cuerpo-login">
        <h1>Iniciá sesión</h1>
        <form action="login.html" method="POST">
            <p>Correo electrónico</p>
            <input type="email" name="mail">
            <br>
            <p>Contraseña</p>
            <input type="password" name="contraseña">
            <br>
            <br>
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>



    <div class="div-footer">
        <div class="logo-ayuda-contacto">
            <div class="logo-footer"> <img src="./images/Puam.jpg" width="75px"> </div>

            <div class="ayuda-footer">
                <h4>Ayuda</h4>
                <p>
                    ayuda <br>
                    ayuda <br>
                    ayuda
                </p>
            </div>


            <div class="contacto-footer">
                <h4>Contacto</h4>
                <p>
                    contacto <br>
                    contacto <br>
                    contacto
                </p>
            </div>

        </div>

        <div class="derechos">
            <p class="p-puam">© PUAM 2021</p>
        </div>

    </div>

</body>

</html>