<!DOCTYPE html>
<html>

<head>
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<link rel="stylesheet" href="./css/styleLogin.css">
<title> Login | PUAM</title>
<!-- Include Head -->
</head>

<body>
    <!-- header -->
<%- include('partials/header') %>
<!-- /header -->

    <div class="cuerpo-login">
        <h1>Iniciá sesión</h1>
        <form action="login.html" method="POST">
            <p>Correo electrónico</p>
            <input type="email" name="mail">
            <br>
            <p>Contraseña</p>
            <input type="password" name="contraseña">
            <br>
            <br>
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>



    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>