<!DOCTYPE html>
<html lang="en">

<head>
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<link rel="stylesheet" href= "css/styleProductCart.css">
<title>ProductCart</title>
</head>

<!-- header -->
<%- include('partials/header') %>
<!-- /header -->

<div class="cartProduct">
    <ul class="cartProduct">
        <li>Productos</li>
        <li>Precio</li>
        <li>Cantidad</li>
        <li>Total</li>
    </ul>
</div>
<body>

</body>
<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</html>