<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title> Creá tu cuenta | PUAM</title>
    
</head>